#contenedorProd{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedorProd{
    border-radius: 50px;
    width: 100%;
    background-color: rgb(243, 244, 244);
    padding: 10px !important;
    margin: 20px !important;
}

.botonAdmin{
    font-size: 25px;
}